
body {
  font: 16px/1 sans-serif;
}
#root {
  height: 100%;
}
h1 {
  font-weight: 200;
  color: #3b414c;
  font-size: 20px;
}
.app {
  white-space: nowrap;
  height: 100%;
}
.snack {
  display: inline-block;
  padding: .5em;
  margin: 0 1em 1em 0.25em;
  border: 4px solid #d9d9d9;
  background: #f7f7f7;
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  cursor: pointer;
  line-height: 5em;
  text-align: center;
  color: #333;
}
.shopping-cart {
  border: 5px dashed #d9d9d9;
  border-radius: 10px;
  padding: 5rem 2rem;
  text-align: center;
}
